@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* This tells the variable font to stay at 0 degrees slant */
    font-variation-settings: "slnt" 0; 
    line-height: 1.6;
    color: #1a252c;
}

h1 {
    font-weight: 800;
    letter-spacing: -0.02em;
}

.defaultBtn {
    border: 99px;
    color: #ffffff;
    background-color: #1cbcff;
    
}
